@font-face {
    font-family: WendyOne;
    src: url(../fonts/WendyOne-Regular.ttf);
}
#brand {
    font-family: WendyOne;
    color: #44B;
}
#scroll_top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(https://snipp.ru/img/scroll_top.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.7;
}
#scroll_top:hover {
 	opacity: 1;
}